* {
    margin: 0;
    padding: 0;
}

.layout {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}


header {
    background-color: black;
    color: white;
    display:flex;
    padding: 30px 60px;
    justify-content: space-between;
}

.no-bold {
    font-weight: normal;
}

.buttons button {
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

#submit {
    background-color: #191a1b;
    border: 1px solid white;
    margin-right: 20px;
}

#sign-in {
    background-color: #4C5FD5;
    border: 1px solid #4C5FD5;
}

#sign-in:hover{
    background-color: white;
    border: 1px solid white;
    color: black;
}

.help {
    background-color: #DADBF1;
    text-align: center;
    padding: 75px 0;
}

.help h2 {
    font-size: 70px;
    font-weight: normal;
}

.help #search {
    font-size: 18px;
    height: 40px;
    padding: 0 10px;
    width: 700px;
    margin-top: 25px;
}

.categories {
    padding: 100px 50px;
}

.row {
    display: flex;
    padding: 30px 50px;
}

.item {
    width: 50%;
    display: flex;
}

.item .icon {
    flex:1;
    text-align: right;
    margin-right: 25px;
}

.item .icon img {
    width: 100px;
}

.item .block {
    flex: 3;
}

.item .block h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.item .block p {
    font-size: 23px;
    margin-bottom: 15px;
    line-height: 32px;
}

.item .block a {
    font-size: 20px;
    text-decoration: none;
    color: #4C5FD5;
}

.item .block a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 50px 70px;
}

.footer-section {
    flex: 1;
}

.copyright {
    flex: 2;
}

.footer-section h4 {
    font-size: 25px;
    margin-bottom: ;
}
